<a class="btn btn-primary" type="button" href="/tables/data">KSA Box Office</a>

<a class="btn btn-primary" type="button" href="/tables/ksatv">KSA TV Ratings</a>

<a class="btn btn-primary" type="button" href="/tables/series"
  >OTT Local Originals</a
>

<a class="btn btn-primary" type="button" href="/tables/global">
  Global Box Office
</a>
<a class="btn btn-primary" type="button" href="/tables/prod_companies">
  Production Houses
</a>
<a class="btn btn-primary" type="button" href="/tables/netflix_series">
  Netflix Series
</a>
<a class="btn btn-primary" type="button" href="/tables/netflix_movies">
  Netflix, iTunes and Google Movies
</a>
<button
  class="btn btn-primary"
  type="button"
  data-toggle="collapse"
  data-target="#collapseExample"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  Filters
</button>
