{% extends "layouts/base.html" %} {% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .tablehead .iconside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .filter_op option {
    color: black;
  }
</style>
{% endblock stylesheets %} {% block content %} {% load humanize %}
<br />

<div class="row">
  <div class="col-lg- col-md-12">
    {% include 'home/filter_bar.html' %}

    <div class="collapse card" id="collapseExample">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h4 class="card-title">
              {% comment %}
              <p class="category">Select filters</p>
              {% endcomment %}
            </h4>
          </div>
        </div>
        <form method="get" class="">
          <div class="row justify-content-between">{{MovieFilter.form}}</div>
          <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-4">
              <button
                class="btn btn-primary btn-block"
                id="inlineFormInputGroup"
              >
                <i class="fa fa-filter"></i> Filter
              </button>
            </div>
          </div>
        </form>

        <div class="row">
          <span class="col-2 display-4">Profitability</span>
          <div class="col-10">
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Profitability/0-10"
              >0-10</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Profitability/10-25"
              >10-25</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Profitability/25-50"
              >25-50</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Profitability/50-80"
              >50-80</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Profitability/80-100"
              >80-100</a
            >
          </div>
        </div>

        <div class="row">
          <span class="col-2 display-4"> Production_Budget</span>
          <div class="col-10">
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/0-10000000"
              >0-10</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/10000000-30000000"
              >10-30</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/30000000-50000000"
              >30-50</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/50000000-75000000"
              >50-75</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/75000000-100000000"
              >75-100</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/100000000-200000000"
              >100-200</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/200000000-400000000"
              >200-400</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/400000000-700000000"
              >400-700</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Production_Budget/700000000-"
              >700+</a
            >
          </div>
        </div>

        <div class="row">
          <span class="col-2 display-4">Other Costs</span>
          <div class="col-10">
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/0-10000000"
              >0-10</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/10000000-30000000"
              >10-30</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/30000000-50000000"
              >30-50</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/50000000-75000000"
              >50-75</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/75000000-100000000"
              >75-100</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/100000000-200000000"
              >100-200</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/200000000-400000000"
              >200-400</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/400000000-700000000"
              >400-700</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Other_Costs/700000000-"
              >700+</a
            >
          </div>
        </div>

        <div class="row">
          <span class="col-2 display-4">Domestic Box office</span>
          <div class="col-10">
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/0-10000000"
              >0-10</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/10000000-30000000"
              >10-30</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/30000000-50000000"
              >30-50</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/50000000-75000000"
              >50-75</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/75000000-100000000"
              >75-100</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/100000000-200000000"
              >100-200</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/200000000-400000000"
              >200-400</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/400000000-700000000"
              >400-700</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/Domestic_Box_office/700000000-"
              >700+</a
            >
          </div>
        </div>

        <div class="row">
          <span class="col-2 display-4">World Wide Box Office</span>
          <div class="col-10">
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/0-10000000"
              >0-10</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/10000000-30000000"
              >10-30</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/30000000-50000000"
              >30-50</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/50000000-75000000"
              >50-75</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/75000000-100000000"
              >75-100</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/100000000-200000000"
              >100-200</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/200000000-400000000"
              >200-400</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/400000000-700000000"
              >400-700</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/World_Wide_Box_Office/700000000-"
              >700+</a
            >
          </div>
        </div>

        <div class="row">
          <span class="col-2 display-4">International Box Office</span>
          <div class="col-10">
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/0-10000000"
              >0-10</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/10000000-30000000"
              >10-30</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/30000000-50000000"
              >30-50</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/50000000-75000000"
              >50-75</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/75000000-100000000"
              >75-100</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/100000000-200000000"
              >100-200</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/200000000-400000000"
              >200-400</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/400000000-700000000"
              >400-700</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/global/International_Box_Office/700000000-"
              >700+</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg- col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4
          class="card-title"
          type="button"
          data-toggle="collapse"
          data-target="#global"
          aria-expanded="false"
          aria-controls="global"
        >
          Global Box Office
        </h4>
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-link dropdown-toggle btn-icon"
            data-toggle="dropdown"
          >
            <i class="tim-icons icon-settings-gear-63"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuLink"
          >
            <button class="dropdown-item" id="expo">Export</button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter" id="DataTable">
            {% for i in data %} {% if forloop.first %}

            <tr class="tablehead">
              {% for f in i.keys %} {% if not forloop.first %}
              <th class="text-primary text-nowrap" scope="col">
                <div
                  class="d-flex justify-content-between align-content-center"
                >
                  <span class="textside p-2"> {{f}} </span>
                  <span class="iconside">
                    <a href="/filter/global/{{f}}/asc"
                      ><i class="fa fa-sort-up"></i
                    ></a>
                    <a href="/filter/global/{{f}}/dsc"
                      ><i class="fa fa-sort-down"></i
                    ></a>
                  </span>
                </div>
              </th>
              {% else %}
              <th class="text-primary text-nowrap">Delete</th>
              {% endif %} {% endfor %}
            </tr>

            {% endif %} {% endfor %} {% for i in data %}
            <tr>
              <td class="text-nowrap">
                <a class="text-danger" href="/delete/global/{{i.Rank}}">
                  <i class="fa fa-trash"> </i
                ></a>
              </td>
              <td class="text-nowrap">{{i.Rank}}</td>
              <td class="text-nowrap">{{i.Movie}}</td>
              {% if i.Release_Year == None %}
              <td class="text-nowrap">-</td>
              {% else %}
              <td class="text-nowrap">{{i.Release_Year}}</td>

              {% endif %}
              <td class="text-nowrap">{{i.Genre}}</td>
              <td class="text-nowrap">{{i.Sub_Genera_1}}</td>
              <td class="text-nowrap">{{i.Sub_Genera_2}}</td>
              <td class="text-nowrap">
                {{i.Production_Budget |floatformat:0|intword|intcomma}}
              </td>
              <td class="text-nowrap">
                {{i.Other_Costs |floatformat:0|intword|intcomma}}
              </td>
              <td class="text-nowrap">
                {{i.Profit |floatformat:0|intword|intcomma}}
              </td>
              <td class="text-nowrap">{{i.Profitability|floatformat:0}}%</td>
              <td class="text-nowrap">{{i.Rating}}</td>
              <td class="text-nowrap">{{i.Run_Time}}</td>
              <td class="text-nowrap">{{i.Franchise}}</td>
              <td class="text-nowrap">{{i.Key_Word_1}}</td>
              <td class="text-nowrap">{{i.Key_Word_2}}</td>
              <td class="text-nowrap">{{i.Key_Word_3}}</td>
              <td class="text-nowrap">{{i.Key_Word_4}}</td>
              <td class="text-nowrap">{{i.Key_Word_5}}</td>
              <td class="text-nowrap">{{i.Source}}</td>
              <td class="text-nowrap">{{i.Production_Method}}</td>
              <td class="text-nowrap">{{i.Creative_Type}}</td>
              <td class="text-nowrap">{{i.Prod_Companies}}</td>
              <td class="text-nowrap">{{i.Prod_Company_1}}</td>
              <td class="text-nowrap">{{i.Prod_Company_2}}</td>
              <td class="text-nowrap">{{i.Prod_Company_3}}</td>
              <td class="text-nowrap">{{i.Prod_Company_4}}</td>
              <td class="text-nowrap">{{i.Production_Country_1}}</td>
              <td class="text-nowrap">{{i.Production_Country_2}}</td>
              <td class="text-nowrap">{{i.Production_Country_3}}</td>
              <td class="text-nowrap">{{i.Language}}</td>
              <td class="text-nowrap">
                {{i.Domestic_Box_office|floatformat:0|intword|intcomma}}
              </td>
              <td class="text-nowrap">
                {{i.International_Box_Office|floatformat:0|intword|intcomma}}
              </td>
              <td class="text-nowrap">
                {{i.World_Wide_Box_Office|floatformat:0|intword|intcomma}}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  document.querySelector("#expo").addEventListener("click", function () {
    var table = new Table2Excel();

    table.export(document.querySelectorAll("#DataTable"));
  });
</script>
{% endblock javascripts %}
