{% extends "layouts/base.html" %} {% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .tablehead .iconside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .filter_op option {
    color: black;
  }
</style>
{% endblock stylesheets %} {% block content %} {% load humanize %} {% comment %}
{% endcomment %} {% comment %} Filters {% endcomment %}
<div class="row">
  <div class="col-lg- col-md-12">
    <a class="btn btn-primary" type="button" href="/tables/data">KSA</a>

    <a class="btn btn-primary" type="button" href="/tables/ksatv">KSA TV</a>

    <a class="btn btn-primary" type="button" href="/tables/series">Series</a>

    <a class="btn btn-primary" type="button" href="/tables/global">
      Global Box Office
    </a>
    <a class="btn btn-primary" type="button" href="/tables/prod_companies">
      Production Companies
    </a>
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Filters
    </button>
    <div class="collapse card" id="collapseExample">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h4 class="card-title">
              {% comment %}
              <p class="category">Select filters</p>
              {% endcomment %}
            </h4>
          </div>
        </div>
        <form method="get" class="">
          <div class="row justify-content-between">{{MovieFilter.form}}</div>
          <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-4">
              <button
                class="btn btn-primary btn-block"
                id="inlineFormInputGroup"
              >
                <i class="fa fa-filter"></i> Filter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% comment %} KSA TV {% endcomment %}

<div class="row">
  <div class="col-lg- col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4
          class="card-title"
          type="button"
          data-toggle="collapse"
          data-target="#ksa_tv"
          aria-expanded="false"
          aria-controls="ksa_tv"
        >
          KSA TV
        </h4>
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-link dropdown-toggle btn-icon"
            data-toggle="dropdown"
          >
            <i class="tim-icons icon-settings-gear-63"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuLink"
          >
            <a class="dropdown-item" href="#pablo">Action</a>
            <a class="dropdown-item" href="#pablo">Another action</a>
            <a class="dropdown-item" href="#pablo">Something else</a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter" id="">
            {% for i in data %} {% if forloop.first %}

            <tr class="tablehead">
              {% for f in i.keys %} {% if not forloop.first %}
              <th class="text-primary text-nowrap" scope="col">
                <div
                  class="d-flex justify-content-between align-content-center"
                >
                  <span class="textside p-2"> {{f}} </span>
                  <span class="iconside">
                    <a href="/filter/ksatv/{{f}}/asc"
                      ><i class="fa fa-sort-up"></i
                    ></a>
                    <a href="/filter/ksatv/{{f}}/dsc"
                      ><i class="fa fa-sort-down"></i
                    ></a>
                  </span>
                </div>
              </th>
              {% else %}
              <th class="text-primary text-nowrap">Delete</th>
              {% endif %} {% endfor %}
            </tr>

            {% endif %} {% endfor %} {% for i in data %}
            <tr>
              <td class="text-nowrap">
                <a class="text-danger" href="/delete/ksatv/{{i.Rank}}">
                  <i class="fa fa-trash"> </i
                ></a>
              </td>
              <td class="text-nowrap">{{i.Count_Order}}</td>
              <td class="text-nowrap">{{i.Prog_Name}}</td>
              <td class="text-nowrap">{{i.Station}}</td>
              <td class="text-nowrap">{{i.Dow}}</td>
              <td class="text-nowrap">{{i.Month_Year | date}}</td>
              <td class="text-nowrap">{{i.Prog_Sub_Type}}</td>
              <td class="text-nowrap">{{i.Prog_Type }}</td>
              <td class="text-nowrap">{{i.Prog_Domain}}</td>
              <td class="text-nowrap">{{i.first_Actor }}</td>
              <td class="text-nowrap">{{i.second_Actor}}</td>
              <td class="text-nowrap">
                {{i.Prog_Producer | truncatechars:100}}
              </td>
              <td class="text-nowrap">{{i.Prog_Distributor}}</td>
              <td class="text-nowrap">{{i.Survey_From}}</td>
              <td class="text-nowrap">{{i.Survey_To}}</td>
              <td class="text-nowrap">{{i.Avg_Aud_ALL}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
