{% extends "layouts/base.html" %} {% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .tablehead .iconside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .filter_op option {
    color: black;
  }
</style>
{% endblock stylesheets %} {% block content %} {% load humanize %}

<br />

<div class="row">
  <div class="col-lg- col-md-12">
    {% include 'home/filter_bar.html' %}

    <div class="collapse card" id="collapseExample">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h4 class="card-title">
              {% comment %}
              <p class="category">Select filters</p>
              {% endcomment %}
            </h4>
          </div>
        </div>
        <form method="get" class="">
          <div class="row justify-content-between">{{MovieFilter.form}}</div>
          <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-4">
              <button
                class="btn btn-primary btn-block"
                id="inlineFormInputGroup"
              >
                <i class="fa fa-filter"></i> Filter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg- col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4
          class="card-title"
          type="button"
          data-toggle="collapse"
          data-target="#series"
          aria-expanded="false"
          aria-controls="series"
        >
          Series
        </h4>
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-link dropdown-toggle btn-icon"
            data-toggle="dropdown"
          >
            <i class="tim-icons icon-settings-gear-63"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuLink"
          >
            <button class="dropdown-item" id="expo">Export</button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter" id="DataTable">
            {% for i in data %} {% if forloop.first %}

            <tr class="tablehead">
              {% for f in i.keys %} {% if not forloop.first %}
              <th class="text-primary text-nowrap" scope="col">
                <div
                  class="d-flex justify-content-between align-content-center"
                >
                  <span class="textside p-2"> {{f}} </span>
                  <span class="iconside">
                    <a href="/filter/series/{{f}}/asc"
                      ><i class="fa fa-sort-up"></i
                    ></a>
                    <a href="/filter/series/{{f}}/dsc"
                      ><i class="fa fa-sort-down"></i
                    ></a>
                  </span>
                </div>
              </th>
              {% else %}
              <th class="text-primary text-nowrap">Delete</th>
              {% endif %} {% endfor %}
            </tr>

            {% endif %} {% endfor %} {% for i in data %}
            <tr>
              <td class="text-nowrap">
                <a class="text-danger" href="/delete/series/{{i.Rank}}">
                  <i class="fa fa-trash"> </i
                ></a>
              </td>
              <td class="text-nowrap">{{i.Series_Name}}</td>
              <td class="text-nowrap">{{i.Genre}}</td>
              <td class="text-nowrap">{{i.Sub_Genre_1}}</td>
              <td class="text-nowrap">{{i.Sub_Genre_2}}</td>
              <td class="text-nowrap">{{i.Rating}}</td>
              <td class="text-nowrap">{{i.Year_of_Release}}</td>
              <td class="text-nowrap">{{i.Country }}</td>
              <td class="text-nowrap">{{i.Seasons}}</td>
              <td class="text-nowrap">{{i.Episodes_Season }}</td>
              <td class="text-nowrap">{{i.Length_of_Episodes}}</td>
              <td class="text-nowrap">{{i.Synopsis |truncatechars:100}}</td>
              <td class="text-nowrap">{{i.Keywords_1}}</td>
              <td class="text-nowrap">{{i.Keywords_2}}</td>
              <td class="text-nowrap">{{i.Keywords_3}}</td>
              <td class="text-nowrap">{{i.Keywords_4}}</td>
              <td class="text-nowrap">{{i.Production_Method}}</td>
              <td class="text-nowrap">{{i.Creative_Type}}</td>
              <td class="text-nowrap">{{i.Production_Companies}}</td>
              <td class="text-nowrap">{{i.Production_Company_1}}</td>
              <td class="text-nowrap">{{i.Production_Company_2}}</td>
              <td class="text-nowrap">{{i.Production_Company_3}}</td>
              <td class="text-nowrap">{{i.Production_Company_4}}</td>
              <td class="text-nowrap">{{i.Director}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_1_Name}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_1_Gender}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_1_Age}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_1_Nationality}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_2_Name}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_2_Gender}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_2_Age}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_2_Nationality}}</td>
              <td class="text-nowrap">{{i.Streamer}}</td>
              <td class="text-nowrap">{{i.Awards_1}}</td>
              <td class="text-nowrap">{{i.Awards_2}}</td>
              <td class="text-nowrap">{{i.Awards_3}}</td>
              <td class="text-nowrap">{{i.Type_of_deal}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  document.querySelector("#expo").addEventListener("click", function () {
    var table = new Table2Excel();

    table.export(document.querySelectorAll("#DataTable"));
  });
</script>

{% endblock javascripts %}
