{% extends "layouts/base.html" %} {% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .tablehead .iconside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .filter_op option {
    color: black;
  }
</style>
{% endblock stylesheets %} {% block content %} {% load humanize %}
<br />

<div class="row">
  <div class="col-lg- col-md-12">
    {% include 'home/filter_bar.html' %}

    <div class="collapse card" id="collapseExample">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h4 class="card-title">
              {% comment %}
              <p class="category">Select filters</p>
              {% endcomment %}
            </h4>
          </div>
        </div>
        <form method="get" class="">
          <div class="row justify-content-between">{{MovieFilter.form}}</div>
          <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-4">
              <button
                class="btn btn-primary btn-block"
                id="inlineFormInputGroup"
              >
                <i class="fa fa-filter"></i> Filter
              </button>
            </div>
          </div>
        </form>

        <div class="row">
          <span class="col-2 display-4">CUM ADM</span>
          <div class="col-10">
            <a class="btn btn-primary" href="/RangeFilters/ksa/CUM_ADM/0-20000"
              >0-20k</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_ADM/20000-60000"
              >20k-60k</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_ADM/60000-100000"
              >60k-100k</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_ADM/100000-150000"
              >100k-150k</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_ADM/150000-200000"
              >150k-200k</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_ADM/200000-300000"
              >200k-300k</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_ADM/300000-400000"
              >300k-400k</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_ADM/400000-500000"
              >400k-500k</a
            >
            <a class="btn btn-primary" href="/RangeFilters/ksa/CUM_ADM/500000-"
              >500k+</a
            >
          </div>
        </div>

        <div class="row">
          <span class="col-2 display-4">CUM GBO USD</span>
          <div class="col-10">
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/0-200000"
              >0-200k</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/200000-500000"
              >200k-500k</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/500000-800000"
              >500k-800k</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/800000-1000000"
              >800k-1m</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/1000000-1500000"
              >1m-1.5m</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/1500000-2000000"
              >1.5m-2m</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/2000000-4000000"
              >2m-4m</a
            >

            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/4000000-6000000"
              >4m-6m</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/6000000-10000000"
              >6m-10m</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/10000000-15000000"
              >10m-15m</a
            >
            <a
              class="btn btn-primary"
              href="/RangeFilters/ksa/CUM_GBO_USD/15000000-"
              >15m+</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg- col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4
          class="card-title"
          type="button"
          data-toggle="collapse"
          data-target="#ksa"
          aria-expanded="false"
          aria-controls="ksa"
        >
          KSA
        </h4>
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-link dropdown-toggle btn-icon"
            data-toggle="dropdown"
          >
            <i class="tim-icons icon-settings-gear-63"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuLink"
          >
            <a class="dropdown-item" href="#pablo">Action</a>
            <a class="dropdown-item" href="#pablo">Another action</a>
            <a class="dropdown-item" href="#pablo">Something else</a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter" id="">
            {% for i in data %} {% if forloop.first %}

            <tr class="tablehead">
              {% for f in i.keys %} {% if not forloop.first %}
              <th class="text-primary text-nowrap" scope="col">
                <div
                  class="d-flex justify-content-between align-content-center"
                >
                  <span class="textside p-2"> {{f}} </span>
                  <span class="iconside">
                    <a href="/filter/data/{{f}}/asc"
                      ><i class="fa fa-sort-up"></i
                    ></a>
                    <a href="/filter/data/{{f}}/dsc"
                      ><i class="fa fa-sort-down"></i
                    ></a>
                  </span>
                </div>
              </th>
              {% else %}
              <th class="text-primary text-nowrap">Delete</th>
              {% endif %} {% endfor %}
            </tr>

            {% endif %} {% endfor %} {% for i in data %}
            <tr>
              <td class="text-nowrap">
                <a class="text-danger" href="/delete/data/{{i.Rank}}">
                  <i class="fa fa-trash"> </i
                ></a>
              </td>
              <td class="text-nowrap">{{i.Rank}}</td>
              <td class="text-nowrap">{{i.FILM}}</td>
              <td class="text-nowrap">{{i.Genre}}</td>
              <td class="text-nowrap">{{i.Sub_Genre_1}}</td>
              <td class="text-nowrap">{{i.Sub_Genre_2}}</td>
              <td class="text-nowrap">{{i.Rating |floatformat}}</td>
              <td class="text-nowrap">{{i.Year_of_Release |floatformat:0}}</td>
              <td class="text-nowrap">{{i.Country}}</td>
              <td class="text-nowrap">{{i.Run_Time }}</td>
              <td class="text-nowrap">{{i.Franchise}}</td>
              <td class="text-nowrap">{{i.Synopsis | truncatechars:100}}</td>
              <td class="text-nowrap">{{i.Keywords_1}}</td>
              <td class="text-nowrap">{{i.Keywords_2}}</td>
              <td class="text-nowrap">{{i.Keywords_3}}</td>
              <td class="text-nowrap">{{i.Keywords_4}}</td>
              <td class="text-nowrap">{{i.Production_Method}}</td>
              <td class="text-nowrap">{{i.Creative_Type}}</td>
              <td class="text-nowrap">{{i.Production_Companies}}</td>
              <td class="text-nowrap">{{i.Production_Company_1}}</td>
              <td class="text-nowrap">{{i.Production_Company_2}}</td>
              <td class="text-nowrap">{{i.Production_Company_3}}</td>
              <td class="text-nowrap">{{i.Production_Company_4}}</td>
              <td class="text-nowrap">{{i.Director}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_1_Name}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_1_Gender}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_1_Age |floatformat:0}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_1_Nationality}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_2_Name}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_2_Gender}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_2_Age |floatformat:0}}</td>
              <td class="text-nowrap">{{i.Lead_Actor_2_Nationality}}</td>
              <td class="text-nowrap">{{i.Target_Audience}}</td>
              <td class="text-nowrap">{{i.Streamer}}</td>
              <td class="text-nowrap">{{i.Awards_1}}</td>
              <td class="text-nowrap">{{i.Awards_2}}</td>
              <td class="text-nowrap">{{i.Awards_3}}</td>
              <td class="text-nowrap">{{i.Type_of_Deal}}</td>
              <td class="text-nowrap">{{i.RELEASE_DATE}}</td>
              <td class="text-nowrap">{{i.DIST}}</td>
              <td class="text-nowrap">{{i.NO_Screens}}</td>
              <td class="text-nowrap">{{i.Opening_Day_Amd|intcomma}}</td>
              <td class="text-nowrap">
                SAR {{i.First_Weekend_BO|floatformat:0|intword |intcomma}}
              </td>
              <td class="text-nowrap text-center">
                {{i.First_Weekend_Amd|floatformat:0 |intcomma}}
              </td>
              <td class="text-nowrap">
                SAR {{i.First_Week_BO|floatformat:0|intword |intcomma}}
              </td>
              <td class="text-nowrap">
                {% if i.First_Week_ADM %} {% endif %}
                {{i.First_Week_ADM|floatformat:0 |intcomma}}
              </td>
              <td class="text-nowrap">
                SAR {{i.CUM_BO|floatformat:0|intword |intcomma}}
              </td>
              <td class="text-nowrap">{{i.CUM_ADM|floatformat:0 |intcomma}}</td>
              <td class="text-nowrap">
                $ {{i.CUM_GBO_USD|floatformat:0|intword |intcomma}}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
